<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style type="text/css">
        .jumbotron .form-horizontal {
            line-height: normal;
        }
    </style>

</head>
<body ng-app="demoApp">

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-tree-default-model/angular-tree-default-model.js"></script>

    <script>
        angular.module('demoApp', ['ng','tree.default-model']);
    </script>


    <div class="container">
        <div class="jumbotron">

            <h2>Angular Tree Default Model Directive</h2>

            <form name="myForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text">Text:</label>
                    <div class="col-sm-10">
                        <input name="text"
                               id="text"
                               type="text"
                               class="form-control"
                               tree-default-model="defaultText"
                               ng-model="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="defaultText" >Default Text :</label>
                    <div class="col-sm-10">
                        <input name="defaultText"
                               id="defaultText"
                               type="text"
                               class="form-control"
                               ng-model="defaultText" />
                    </div>
                </div>
            </form>

            <div>

                <h6>text</h6>
                <pre>{{ text }}</pre>

                <h6>defaultText</h6>
                <pre>{{ defaultText }}</pre>

            </div>

        </div>
    </div>

</body>
</html>
